#cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#cv > header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cv > header > h2,
#cv > main > h2,
#cv > footer > h2 {
  font-weight: 400;
  margin: 0;
}

#cv > main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

